.hidden {
  display: none;
}

.card {
  width: 200px;
  height: 200px;
  background-color: black;
}

#game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 700px;
}

.flipped-card {
  width: 100%;
  height: 100%;
}
